header {
    position: fixed;
    background-color: var(--second-background);
    padding: 10px 0;
    width: 100%;
    z-index: 1000;
}

/* Nav Bar */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 5%;
    margin: 0 auto;
}

.profile {
    display: flex;
    align-items: center;
}

.profile p {
    color: var(--text-color);
    font-weight: bold;
    margin-left: 10px;
    letter-spacing: 1.5px;
}

.profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav a:hover::before {
    transform: scaleX(1);
}

/* Dropdown menu for mobile devices */

.dropdown {
    display: none;
    position: relative;
}

.dropdown .dropbtn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--text-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--card-background);
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: var(--border-radius);
    right: 0;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--secondary-color);
    color: var(--btn-text-color);
}

.dropdown-content a:hover:last-child {
    border-radius: 0 0 10px 10px;
}

.dropdown-content a:hover:first-child {
    border-radius: 10px 10px 0 0;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

@media (max-width: 768px) {
    nav ul {
        display: none; /* Hide nav links on mobile */
    }

    .dropdown {
        display: block; /* Show dropdown menu on mobile */
    }

    .dropdown .dropbtn {
        display: block; /* Show dropdown button */
    }
}


/* Social Sidebar */

.social-sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 5px 5px 0;
}

.social-icon {
    display: block;
    margin: 10px 0;
}

.social-icon svg {
    font-size: 1.5em;
    color: var(--text-color);
}

.social-icon svg:hover {
    color: var(--secondary-color);
}

main {
    background: var(--background-color);
    text-align: center;
    padding: 300px 20px;
    background-image: url('background-pattern.png'); /* Add the background pattern image */
}

.intro h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

.intro h1 .color-title {
    color: var(--primary-color);
}

.intro p {
    font-size: 1.2em;
    color: var(--secondary-text-color);
}

.underline {
    width: 30px;
    height: 5px;
    background-color: var(--primary-color);
    margin: 10px auto 20px;
    border-radius: var(--border-radius);
}

.about {
    padding-top: 250px;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.titleAbout {
    padding-bottom: 20px;
}

.image-box {
    padding: 20px;
    padding-left: 7%;
    width: 1200px;
    height: 500px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.details {
    text-align: left;
    padding-right: 7%;
}

.info-boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-box {
    background-color: var(--background-color);
    border: 1px solid var(--secondary-text-color);
    border-radius: var(--border-radius);
    padding: 20px;
    width: 43%;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.info-box .icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.info-box h3 {
    margin: 10px 0;
    color: var(--text-color);
}

.info-box p {
    margin: 5px 0;
    color: var(--secondary-text-color);
}

.text-section {
    text-align: left;
}

.text-section p {
    margin-bottom: 20px;
}

.CVDownload {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

.btn {
    display: inline-flex;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--btn-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    height: 50px;
}

.btn .icon {
    margin-left: 10px;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.skills {
    padding-top: 300px;
}

.skills-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 75px;
}

.skills-box {
    background-color: var(--card-background);
    border: 1px solid var(--secondary-text-color);
    border-radius: var(--border-radius);
    padding: 20px;
    width: 30%;
}

.skills-box h3 {
    margin: 10px 0;
    color: var(--text-color);
    text-align: center;
}

.skills-box ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    padding-top: 25px;
}

.skills-box li {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: calc(50% - 20px); /* Adjust width to fit two items per row with margin */
}

.skills-box h4 {
    margin: 0;
    color: var(--text-color);
}

.skills-box p {
    margin: 0;
    color: var(--secondary-text-color);
}

.project {
    padding-top: 300px;
}

.project-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 75px;
}

.project-box {
    background-color: var(--card-background);
    border: 1px solid var(--secondary-text-color);
    border-radius: var(--border-radius);
    padding: 20px;
    width: 25%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact {
    padding-top: 300px;
    padding-bottom: 50px;
}

.titleContact {
   padding-bottom: 60px;
}

.contact-box {
    background-color: var(--card-background);
    border: 1px solid var(--secondary-text-color);
    border-radius: var(--border-radius);
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.contact-form input, .contact-form textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid var(--secondary-text-color);
    border-radius: var(--border-radius);
}

.contact-form input {
    height: 50px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form .btn-box {
    width: 100%;
    text-align: center;
}